#chat-container {
    position: fixed;
    left: 0;
    z-index: 10;
    background-color: #23222b;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    min-width: 35vh;
    max-width: 28vh;
}

.self, .incomingMessage{
    margin-top: 5px;
    margin-bottom: 5px;
}

.self{
    margin-left: auto; 
}

.incomingMessage{

}

.container {
    margin-left: 50px;
    min-width: 500px;
}

#chatbox {
    flex: 1;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
}

#my-form {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box {
    border-radius: 10px;
}

#gamescreen {
    margin-left: 25vw;
}

#text-area {
    height: 5vh;
    margin-top: 10px;
    text-align: left;
    padding-left: 10px;
}

.btn-primary {
    height: 50px;
    min-width: 100px;
    margin-top: 10px;
    margin-left: auto;
}

input[type="text"] {
    border: none;
    outline: none;
    background-color: white;
    font: inherit;
    padding: 0;
    margin: 0;
}


/**************************/


/* Set the display property of the sections to 'none' initially */


/* .GAMEPAGE {
    display: none;
} */


/* Set default font family and color */

body {
    font-family: Arial, sans-serif;
    color: #333;
}


/* Center the join-container div */

.join-container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Style the logo */

.logo {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Style the join form */

.join {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join h1 {
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.join form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.join form label {
    font-size: 18px;
    margin-bottom: 10px;
}


/* #join-button {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    border: line;
    border-radius: 5px;
} */

#join-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#join-button:hover {
    background-color: #3e8e41;
}

#get-code {
    background-color: #e63d5f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#get-code:hover {
    background-color: #3e8e41;
}


/*******************************/